<md-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
  <span class="cursive-title"><md-icon>favorite</md-icon> Alvin &amp; Baohui's Wedding <md-icon>favorite</md-icon></span>
</md-toolbar>
<div class="body-container" fxLayout="row" fxLayoutAlign="center center">
  <md-card class="wedding-card" fxFlex="60%">
    <md-card-content>
      <div class="fab-holder">
        <button md-fab color="accent">
          <md-icon>star</md-icon>
        </button>
      </div>
      <div class="instagram-slideshow" #slideshow>
        <button class="full-screen-btn" md-icon-button (click)="fullscreen()">
          <md-icon *ngIf="!isFullscreen">fullscreen</md-icon>
          <md-icon *ngIf="isFullscreen">fullscreen_exit</md-icon>
        </button>
        <swiper class="swiper" [config]="swiperConfig" *ngIf="isActualDay">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let image of images; trackBy: trackPost">
              <div class="instagram-pic-holder">
                <div class="blur-bg" [ngStyle]="{'background-image': sanitizeUrl('url(' + image?.display_src + ')')}"></div>
                <img class="instagram-pic" [src]="image?.display_src">
                <div class="instagram-comments">
                  {{image?.caption}}
                </div>
              </div>
            </div>
          </div>
        </swiper>
        <div class="prepare-text" *ngIf="!isActualDay" fxLayout="column" fxLayoutAlign="center center">
          <div>Wedding will commence on:</div>
          <div>
            <app-counter [count]="weddingDate[0]"></app-counter> - 
            <app-counter [count]="weddingDate[1]"></app-counter> - 
            <app-counter [count]="weddingDate[2]"></app-counter>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>